{% extends "page.html" %}

{% block title %} {% endblock %}
{% block titlePage %}{% endblock %}
{% block content %}{% endblock %}
{% block botName %}{{bot.botModel}}{% endblock %}
{% block sideBar_menu %}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <!-- ici le menu de nav side -->
              <div class="menu_section">
              <h3>Contrôle direct</h3>
              {% block mnu_part_ctrl %}{% endblock %}
              </div>
              <div class="menu_section">
              <h3>Programmation</h3>
              {% block mnu_prog %}{% endblock %}
              </div>
              <div class="menu_section">
              <h3>Gestion</h3>
              {% block mnu_management %}{% endblock %}
              </div>
            </div>
{% endblock %}
{% block profile_menu %}
<div class="profile clearfix">
              <div class="profile_pic">
                <img src="/static/images/robotLogo.PNG" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Propriétaire,</span>
                <h2>{{bot.botOwner}}</h2>
                
              </div>
              <div class="clearfix"></div>
            </div>
{% endblock %}
