{% extends "page.html" %}

{% block title %}Configuration {% endblock %}
{% block titlePage %}<span class="fa fa-cogs"></span> Configuration du bot : <b>{{bot.botModel}} ({{bot.botName}}){% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12 col-xs-12">
		              <div class="x_panel collapsed">
                  <div class="x_title">
                    <h2><i class="fa fa-cubes"></i> Structure <small>Les éléments structurels décrivent le Bot</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-xs-2">
                      <!-- required for floating -->
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#parts" data-toggle="tab" aria-expanded="true"><span class="fa fa-cube"></span> Parties</a>
                        </li>
                        <li class=""><a href="#controls" data-toggle="tab" aria-expanded="false"><span class="fa fa-code-fork"></span> Contrôleurs</a>
                        </li>
                        <li class=""><a href="#devices" data-toggle="tab" aria-expanded="false"><span class="fa fa-cog"></span> Equipements</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-10">
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane active" id="parts">
                          <p class="lead">Les parties permettent de regrouper des éléments du Bot
                          <a href="/addPart"><button type="button" class="btn btn-primary btn-xs"><span class="fa fa-plus"></span>Ajouter une partie</button></a>
                          </p>
                          <ul>
                          {% if parts %}
                          {% for part in parts %}
                          	<li>
                          	{% include "widgets/button_modal.html" with modal_class=part.key button_text=part.title button_icon="fa fa-cube" %}
                          	{% include "widgets/modal_small.html" with modal_class=part.key  modal_title=part.title modal_body="widgets/part_model.html" %}                         	
                          	<a href="/addPart?id={{part.id}}"> Editer | </a><a href="#"> Supprimer</a></li>
                          {% endfor %}
                          {% else %}
                          Aucune partie n'a été définie pour ce bot !
                          {% endif %}  
                          </ul>                       
                        </div>
                        <div class="tab-pane" id="controls">
                        <p class="lead">Les contrôleurs et leurs équipements orchestrent les fonctions 
                        <a href="/addControler"><button type="button" class="btn btn-primary btn-xs"><span class="fa fa-plus"></span>Ajouter un contrôleur</button></a>
                        </p>
                        <ul>
                        	{% for part in parts %}
                          		<li><span class="fa fa-cube"></span> {{part.title}}
                          			<ul>
                          				{% for controler in controlers %}
                          					{% if controler.part_id == part.id %}
                          					<li>
											{% include "widgets/button_modal.html" with modal_class=controler.key button_text=controler.title button_icon="fa fa-code-fork" %}
                          					{% include "widgets/modal_small.html" with modal_class=controler.key  modal_title=controler.title modal_body="widgets/controler_model.html" %}
											</li>
                          					{% endif %}
                          				{% endfor %}
                          			</ul>
                          		</li>
                          {% endfor %} 
                        </ul>                                               
                        </div>
                        <div class="tab-pane" id="devices">
                        <p class="lead">Les équipements permettent de créer des actions liées aux fonctions 
                        </p>
                        <p>
                        <a href="/addServo"><button type="button" class="btn btn-primary btn-xs"><span class="fa fa-plus"></span>Ajouter un Servo</button></a>
                        <a href="/addRelay"><button type="button" class="btn btn-primary btn-xs"><span class="fa fa-plus"></span>Ajouter un Relais</button></a>
                        <a href="/addSensor"><button type="button" class="btn btn-primary btn-xs"><span class="fa fa-plus"></span>Ajouter un Senseur</button></a>
                        </p>
                        <ul>
                        	
                        </ul>                                               
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
		              <div class="x_panel collapsed">
                  <div class="x_title">
                    <h2><i class="fa fa-heart"></i> Fonctions <small>Les fonctions sont des activités élémentaires du Bot (exemple "Majeur de la main gauche")</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    
                    
                  <div class="clearfix"></div>
                  </div>
                </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
		              <div class="x_panel collapsed">
                  <div class="x_title">
                    <h2><i class="fa fa-key"></i> Références <small>Les références sont définies pour toute la configuration active</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="accordion" id="refs" role="tablist" aria-multiselectable="true">
                    	<div class="panel">
                    		<a class="panel-heading collapsed" role="tab" id="HServoType" data-toggle="collapse" data-parent="#refs" href="#ServoType" aria-expanded="false" aria-controls="ServoType">
                          <h4 class="panel-title">Types de Servo</h4>
                        </a>
                        <div id="ServoType" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HServoType" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body">
							<ul>
								{% if servoTypes %}
									{% for servoType in servoTypes %}
										<li><span class="fa fa-key"></span> {{servoType.type}}</li>
									{% endfor %}
								{% else %}
									<b>Aucun type de servo n'a été défini</b>
								{% endif %}
							</ul>
                          </div>
                        </div>
                    	</div>
                    	<div class="panel">
                    		<a class="panel-heading collapsed" role="tab" id="HSpeedClass" data-toggle="collapse" data-parent="#refs" href="#SpeedClass" aria-expanded="false" aria-controls="SpeedClass">
                          <h4 class="panel-title">Classes de Vitesse (Servo)</h4>
                        </a>
                        <div id="SpeedClass" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HSpeedClass" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body">
							<ul>
								{% if speedClasses %}
									{% for speedClasse in speedClasses %}
										<li><span class="fa fa-key"></span> {{speedClasse.timeInSec}}s / {{speedClasse.rotInDeg}}°</li>
									{% endfor %}
								{% else %}
									<b>Aucune classe de vitesse n'a été définie</b>
								{% endif %}
							</ul>
                          </div>
                        </div>
                    	</div>
                    	<div class="panel">
                    		<a class="panel-heading collapsed" role="tab" id="HSensorType" data-toggle="collapse" data-parent="#refs" href="#SensorType" aria-expanded="false" aria-controls="SensorType">
                          <h4 class="panel-title">Types de Senseur</h4>
                        </a>
                        <div id="SensorType" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HSensorType" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body">
							<ul>
								{% if sensorTypes %}
									{% for sensorType in sensorTypes %}
										<li><span class="fa fa-key"></span> {{sensorType.title}}</li>
									{% endfor %}
								{% else %}
									<b>Aucun type de senseur n'a été défini</b>
								{% endif %}
							</ul>
                          </div>
                        </div>
                    	</div>
                    	<div class="panel">
                    		<a class="panel-heading collapsed" role="tab" id="HControlerType" data-toggle="collapse" data-parent="#refs" href="#ControlerType" aria-expanded="false" aria-controls="ControlerType">
                          <h4 class="panel-title">Types de Contrôleur</h4>
                        </a>
                        <div id="ControlerType" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HControlerType" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body">
							<ul>
								{% if controlerTypes %}
									{% for controlerType in controlerTypes %}
										<li><span class="fa fa-code-fork"></span> {{controlerType.brand}} {{controlerType.model}}</li>
									{% endfor %}
								{% else %}
									<b>Aucun type de contrôleur n'a été défini</b>
								{% endif %}
							</ul>
                          </div>
                        </div>
                    	</div>
                    </div>                    
                  <div class="clearfix"></div>
                  </div>
                </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
		              <div class="x_panel collapsed">
                  <div class="x_title">
                    <h2><i class="fa fa-plug"></i> Energie <small>A définir si les lignes d'énergie sont pilotées par le système</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    
                    
                  <div class="clearfix"></div>
                  </div>
                </div>
	</div>
</div>

{% endblock %}
{% block botName %}{{bot.botModel}}{% endblock %}
{% block sideBar_menu %}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <!-- ici le menu de nav side -->
              <div class="menu_section">
              <h3>Contrôle direct</h3>
              {% block mnu_part_ctrl %}{% endblock %}
              </div>
              <div class="menu_section">
              <h3>Programmation</h3>
              {% block mnu_prog %}{% endblock %}
              </div>
              <div class="menu_section">
              <h3>Gestion</h3>
              {% block mnu_management %}{% endblock %}
              </div>
            </div>
{% endblock %}
{% block profile_menu %}
<div class="profile clearfix">
              <div class="profile_pic">
                <img src="/static/images/robotLogo.PNG" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Propriétaire,</span>
                <h2>{{bot.botOwner}}</h2>
                
              </div>
              <div class="clearfix"></div>
            </div>
{% endblock %}
