ul {
	
    list-style-type: none;
	
}

.helptext {
	font-size: 10px;
	font-style: italic;
}

.botIdentity {
	border: 0;
    background: none;
    padding-top: 8px;
    font-weight: bold;
}